@use "./blocks-navigation__logo";
@use "./blocks-navigation__btn";
@use "./blocks-navigation__nav";
@use "./blocks-navigation__button";
@use "./blocks-navigation__dropdown";
@use "./blocks-navigation__language";
@use "./blocks-navigation__mode";

/** header start */
.header {
    padding: 0.50rem 0;
    color: var(--white-color);
    background-color: var(--ui-text);

    &-home {
        background-color: transparent;
        margin-bottom: -6rem;
    }
}
/** header end */

/** header row start */
.header__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2790px;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
    font-size: var(--default-font__size);

    /** left start */
    &-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    /** left end */

    /** right start */
    &-right {
        display: flex;
        justify-content: space-between;
    }
    /** right end */

}
/** header row end */
/** header media screen start */
@media screen and (max-width: 1000px) {

    .header__row {
        display: flex;
        padding: 1rem 1rem;
        justify-content: space-between;

        &-left {

        }
        &-right {
            padding: 0;
        }

    }

}
/** header media screen end */
