**/node_modules/
**/vendor/
**/storage/
**/runtime/
**/logs/
**/log/
**/uploads/
**/bootstrap/cache/*
**/.env
**/.env.*
!**/.env.example
**/*.env
**/*.key
**/*.pem
**/*.jks
**/*.keystore
**/*.p12
**/*.mobileprovision
**/*.sql
**/*.dump
**/*.sqlite
**/*.log
**/*.pid
**/*.bak
**/socket-config.json
**/.build*/
**/.phpunit.cache/
**/.DS_Store
**/__pycache__/
**/*.pyc
/output/
