<div class="chat-component chat-component-mob">

    <div class="chat-component-start-chat-btn mobile-visible">
        <div class="w-full">
            <t-button-green @click.stop="showChat()" class="components-filter__button components-filter__button-cancel py-2 px-6">{{ $t('Chat With Counterparty')}}</t-button-green>
        </div>
    </div>
    <div class="chat-dialog-container" :class="{'chat-active': chatActive}">
    <div class="relative flex items-center p-3 chat-header justify-between">
        <template v-if="order.user && order.user.referral_code !== $page.props.user.referral_code">
            <div class="flex">
                <div class="items-start relative inline-flex mr-2">
                    <Link :href="route('p2p.profile', order.user.referral_code)">
                        <div aria-hidden="true" class="online-badge bg-white rounded-full shadow absolute"></div>
                        <img src="/images/chat-default.png" width="42" height="42" class="rounded-full" />
                    </Link>
                </div>
                <span class="pt-2 block ml-2 font-bold text-gray-600">{{ order.user.name }}</span>

                <div v-if="order.user.is_merchant" class="user-badge merchant-badge">
                    <svg v-tooltip="$t('Verified Merchant')" width="18" height="18" class="ml-2 mt-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" ><path fill-rule="evenodd" clip-rule="evenodd" d="M16.438 4.313L14.814 1.5 12 3.124 9.187 1.5 7.562 4.313H4.313v3.25L1.5 9.186 3.124 12 1.5 14.813l2.813 1.625v3.248h3.25L9.186 22.5 12 20.876l2.813 1.624 1.625-2.814h3.248v-3.248l2.814-1.624L20.876 12 22.5 9.187l-2.814-1.625V4.313h-3.248zm-.902 4.215l1.414 1.414-6.364 6.364L7.05 12.77l1.414-1.414 2.122 2.122 4.95-4.95z" fill="#F0B90B"></path></svg>
                </div>
            </div>
            <div @click="closeChat()" class="closeChat">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.207 6.207a1 1 0 0 0-1.414-1.414L12 10.586 6.207 4.793a1 1 0 0 0-1.414 1.414L10.586 12l-5.793 5.793a1 1 0 1 0 1.414 1.414L12 13.414l5.793 5.793a1 1 0 0 0 1.414-1.414L13.414 12l5.793-5.793z"/></svg>
            </div>
        </template>
        <template v-else>
            <div class="flex">
                <div class="items-start relative inline-flex mr-2">
                    <Link :href="route('p2p.profile', order.seller.referral_code)">
                        <div :class="{'online-badge' : order.seller.is_online}" aria-hidden="true" class="offline-badge bg-white rounded-full shadow absolute"></div>
                        <img src="/images/chat-default.png" width="42" height="42" class="rounded-full" />
                    </Link>
                </div>
                <span class="pt-2 block ml-2 font-bold text-gray-600">{{ order.seller.name }}</span>
            </div>
            <div @click="closeChat()" class="closeChat">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.207 6.207a1 1 0 0 0-1.414-1.414L12 10.586 6.207 4.793a1 1 0 0 0-1.414 1.414L10.586 12l-5.793 5.793a1 1 0 1 0 1.414 1.414L12 13.414l5.793 5.793a1 1 0 0 0 1.414-1.414L13.414 12l5.793-5.793z"/></svg>
            </div>
        </template>
    </div>
    <div v-if="chatMessages.length == 0" class="chat-connecting">
        {{ $t('Connecting to the chat...')}}
    </div>
    <div class="relative chat-dialog h-full w-full p-6 pr-1 overflow-y-auto">
        <vue-scroll ref="chatScroll" :ops="scrollOps">
            <ul class="space-y-2">
                <li v-if="chatMessages" v-for="chat in chatMessages" class="flex" :class="{'justify-start': !chat.is_author, 'justify-end mr-5': chat.is_author, 'system-message': chat.is_system, 'text-cover': !chat.is_system}">
                    <div class="place-self-end place-bubble max-width-80" :class="{'text-left': !chat.is_author, 'text-right': chat.is_author}">
                        <div class="block-message-bubble px-5 py-2 rounded-2xl max-w-md" :class="{'bg-blue-50 rounded-tl-none block-message-bubble-counterparty': !chat.is_author, 'bg-indigo-500 text-white rounded-tr-none block-message-bubble-author': chat.is_author, 'block-type-media-message': chat.type == 'media' || chat.type == 'image' }">
                            <template v-if="chat.type == 'image'">
                                <span v-tooltip.right-end="{ content: chat.created_at, classes: 'toolTip' }" v-viewer="viewerOptions" class="chat-message-text flex images">
                                    <img class="chat-image-frame" :src="chat.content" :key="chat.zoom_content" :data-source="chat.zoom_content" />
                                </span>
                            </template>
                            <template v-else-if="chat.type == 'media'">
                                <span v-tooltip.right-end="{ content: chat.created_at, classes: 'toolTip' }" class="chat-message-text flex">
                                    <svg class="btn-icon-attach-message mr-1" width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g data-name="Layer 2">
                                            <g data-name="attach-2">
                                                <rect width="24" height="24" opacity="0"/>
                                                <path d="M12 22a5.86 5.86 0 0 1-6-5.7V6.13A4.24 4.24 0 0 1 10.33 2a4.24 4.24 0 0 1 4.34 4.13v10.18a2.67 2.67 0 0 1-5.33 0V6.92a1 1 0 0 1 1-1 1 1 0 0 1 1 1v9.39a.67.67 0 0 0 1.33 0V6.13A2.25 2.25 0 0 0 10.33 4 2.25 2.25 0 0 0 8 6.13V16.3a3.86 3.86 0 0 0 4 3.7 3.86 3.86 0 0 0 4-3.7V6.13a1 1 0 1 1 2 0V16.3a5.86 5.86 0 0 1-6 5.7z"/>
                                            </g>
                                        </g>
                                    </svg>
                                    <a target="_blank" :href="chat.content">{{ $t('Open Attachment')}}</a>
                                </span>
                            </template>
                            <template v-else>
                                <span v-tooltip.right-end="{ content: chat.created_at, classes: 'toolTip' }" class="chat-message-text">{{ chat.content }}</span>

                            </template>
                            <span v-if="chat.is_system"  class="chat-message-text-system">{{ chat.created_at }}</span>
                        </div>
                    </div>
                </li>
                <li v-if="receiving" class="flex justify-start">
                    <div class="place-self-end text-left">
                        <div class="px-5 py-2 rounded-2xl max-w-md bg-blue-50 text-green-900 rounded-tl-none">
                            <svg height="40" width="40" class="loader">
                                <circle class="dot" cx="10" cy="20" r="3"  />
                                <circle class="dot" cx="20" cy="20" r="3"/>
                                <circle class="dot" cx="30" cy="20" r="3" />
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
        </vue-scroll>

    </div>
    <div class="ml-5 mb-4">
        <template  v-if="userTyping">
            <template v-if="order.user.referral_code !== $page.props.user.referral_code">
                {{ order.user.name }} {{ $t('is typing...')}}
            </template>
            <template v-else>
                {{ order.seller.name }} {{ $t('is typing...')}}
            </template>
        </template>
        &nbsp;
    </div>
    <div class="chat-bottom-wrapper">
        <div v-if="uploading" class="file-uploading">
            <div class="file-uploading-progress"></div>
            {{ $t('Uploading...') }}
        </div>
        <form v-if="order.user && ($page.props.user.referral_code == order.user.referral_code || $page.props.user.referral_code == order.seller.referral_code)" @submit.prevent="addMessage">
            <div class="flex items-center justify-between w-full p-3 chat-footer">
                            <textarea @input="typing" maxlength="500" ref="message" @keyup="textAreaAdjust" v-model="message" type="text" :placeholder="$t('Write a message...')"
                                      class="chat-message-input w-full"
                                      name="message" required />
                <div class="flex">

                    <div class="mr-2">

                        <VueFileAgent
                            class="profile-pic-upload-block"
                            ref="fileUploadForm"
                            :multiple="false"
                            :deletable="false"
                            :meta="false"
                            :maxFiles="1"
                            :accept="'image/*,video/*,.pdf'"
                            :helpText="'Drag an image file here'"
                            :errorText="{type: 'Please select an image'}"
                            v-model="fileRecords"
                            @select="onSelect($event)"
                            @upload:error="onUploadError($event)"
                            @beforedelete="onDelete($event)"
                        >
                            <template v-slot:before-outer>

                            </template >
                            <template v-slot:file-preview="slotProps">
                                <div :key="slotProps.index" class="">
                                    <svg class="btn-icon-attach" width="33" height="33" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g data-name="Layer 2">
                                            <g data-name="attach-2">
                                                <rect width="24" height="24" opacity="0"/>
                                                <path d="M12 22a5.86 5.86 0 0 1-6-5.7V6.13A4.24 4.24 0 0 1 10.33 2a4.24 4.24 0 0 1 4.34 4.13v10.18a2.67 2.67 0 0 1-5.33 0V6.92a1 1 0 0 1 1-1 1 1 0 0 1 1 1v9.39a.67.67 0 0 0 1.33 0V6.13A2.25 2.25 0 0 0 10.33 4 2.25 2.25 0 0 0 8 6.13V16.3a3.86 3.86 0 0 0 4 3.7 3.86 3.86 0 0 0 4-3.7V6.13a1 1 0 1 1 2 0V16.3a5.86 5.86 0 0 1-6 5.7z"/>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </template >
                            <template v-slot:file-preview-new>
                                <div key="new">
                                    <svg class="btn-icon-attach" width="33" height="33" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g data-name="Layer 2">
                                            <g data-name="attach-2">
                                                <rect width="24" height="24" opacity="0"/>
                                                <path d="M12 22a5.86 5.86 0 0 1-6-5.7V6.13A4.24 4.24 0 0 1 10.33 2a4.24 4.24 0 0 1 4.34 4.13v10.18a2.67 2.67 0 0 1-5.33 0V6.92a1 1 0 0 1 1-1 1 1 0 0 1 1 1v9.39a.67.67 0 0 0 1.33 0V6.13A2.25 2.25 0 0 0 10.33 4 2.25 2.25 0 0 0 8 6.13V16.3a3.86 3.86 0 0 0 4 3.7 3.86 3.86 0 0 0 4-3.7V6.13a1 1 0 1 1 2 0V16.3a5.86 5.86 0 0 1-6 5.7z"/>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </template >
                            <template v-slot:after-outer>

                            </template >
                        </VueFileAgent>


                    </div>

                    <div class="">
                        <svg class="btn-icon" @keyup.enter="addMessage" @click="addMessage" width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5003 12H5.41872M5.24634 12.7972L4.24158 15.7986C3.69128 17.4424 3.41613 18.2643 3.61359 18.7704C3.78506 19.21 4.15335 19.5432 4.6078 19.6701C5.13111 19.8161 5.92151 19.4604 7.50231 18.7491L17.6367 14.1886C19.1797 13.4942 19.9512 13.1471 20.1896 12.6648C20.3968 12.2458 20.3968 11.7541 20.1896 11.3351C19.9512 10.8529 19.1797 10.5057 17.6367 9.81135L7.48483 5.24303C5.90879 4.53382 5.12078 4.17921 4.59799 4.32468C4.14397 4.45101 3.77572 4.78336 3.60365 5.22209C3.40551 5.72728 3.67772 6.54741 4.22215 8.18767L5.24829 11.2793C5.34179 11.561 5.38855 11.7019 5.407 11.8459C5.42338 11.9738 5.42321 12.1032 5.40651 12.231C5.38768 12.375 5.34057 12.5157 5.24634 12.7972Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>

            </div>
        </form>
        </div>
    </div>
</div>
