
/** COLOR SETTINGS */

:root {
    /* COLOR THEMES LIGHT */
    --body-color: #FBFDFF;
    --first-text-color: #3e3e3e;
    --second-text-color: #8B8D98;
    --third-text-color: #262744;
    --fourth-text-color: #252542;
    --border-line-color: #E5E7EB;
    --tr-hover-color: #E5E7EB;
    --rows-color: #F4F6F9;

    --tr-hover-color-second: #d6d8df;

    --hover-v1-color: #1d2234;
    --white-input: #ffffff;
    --progress-color: #8B8D98;
    --select-option: #ffffff;
    --menu-btn-color: #ffffff;

    --blue-dark-color: #1d2234;
    --blue-dark-second-color: #151926;
    --blue-dark-thir-color: #1d2234;
    --blue-dark-bar-color: #131621;
    --blue-dark-fourth-color: #303254;
    --blue-dark-fifth-color: #10111c;
    --red-color: #df5a52;
    --red-second-color: #d12f44;
    --green-color: #26c99b;
    --green-second-color: #25b176;
    --yellow-color: #FFC107;
    --yellow-secondary-color: #ad8617;
    --gray-color: #BABABA;
    --gray-color-secondary: #e8ebef;
    --purple-fourth-color: #181c2b;
    --purple-color: #5f54aa;
    --purple-second-color: #5f54aa;
    --purple-third-color: #161a28;
    --white-color: #ffffff;
    --dark-gray: #585858;

    /* COLOR THEMES DARK */
    --dark-body-color: #131722;
    --dark-text-color: #B9BAC0;

    --dark-text-color2: #262626;

    --second-fourth-color: #635f5f;

    --border-select-color: #e8e8e8;

    --btn-secondary-color: #273445;
    --btn-secondary-text-color: #ffffff;

    --disabled-checkbox: #ccc;

    --checkbox-bg: #fffdfd;
    --checkbox-border: #ccc;

    --border-line-color-v2: #E5E7EB;

    --btn-stroke-color: #57638d;

    --yellow-darker-color: #d1a825;

    --gray-color-third: #848e9c;

    --table-head-color: #f3f3f3;

    --modal-border-line-color: #cbcbcb;

    --modal-information-color: #f3f4f6;

    --modal-information-warning-color: #101320;

    --modal-information-warning-color-label: #384260;

    --strict-border-color: #1d2234;

    --dark-profile-body-color: #0c111a;

    --label-bubble-color: #eeeeee;

}


