<app-layout>
    <h1 class="mb-8 font-bold text-3xl">
        <Link class="text-indigo-400 hover:text-indigo-600" :href="route('admin.lendings.collaterals', lending.id)">{{ $t("抵押资产") }}</Link>
        - {{ subTitle }}
    </h1>
    <div class="bg-white rounded shadow overflow-hidden w-full">
        <form @submit.prevent="submit">
            <div class="p-8 -mr-6 -mb-8 flex flex-wrap">

                <div class="pr-6 pb-8 w-full">
                    <div class="font-weight-bold text-xl border-b mb-2 pb-4 font-medium">{{ $t("抵押资产信息") }}</div>
                </div>

                <div class="pr-6 pb-8 w-full lg:w-1/2">
                    <label class="form-label d-block">{{ $t("货币：") }}</label>
                    <t-rich-select
                        :options="currencies"
                        v-model="form.currency_id"
                        placeholder="选择货币"
                        value-attribute="id"
                        text-attribute="name"
                    >
                        <template
                            slot="label"
                            slot-scope="{ className, option, query }"
                        >
                            <div class="flex">
                                <div class="flex flex-col">
                                    <span>{{ option.text }}</span>
                                </div>
                            </div>
                        </template>
                    </t-rich-select>
                    <div v-if="errors.currency_id" class="form-error text-red-400">{{ errors.currency_id }}</div>
                </div>

                <div class="pr-6 pb-8 w-full">
                    <div class="font-weight-bold text-xl border-b mb-2 pb-4 font-medium">{{ $t("灵活利率") }}</div>
                </div>

                <text-input v-model="form.flex_initial_ltv" :error="errors.flex_initial_ltv" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;初始 LTV&quot;)" />

                <text-input v-model="form.flex_margin_call" :error="errors.flex_margin_call" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;追加保证金警戒线&quot;)" />

                <text-input v-model="form.flex_liquidation_ltv" :error="errors.flex_liquidation_ltv" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;强制清算 LTV&quot;)" />


                <div class="pr-6 pb-8 w-full">
                    <div class="font-weight-bold text-xl border-b mb-2 pb-4 font-medium">{{ $t("7 天固定利率") }}</div>
                </div>

                <text-input v-model="form.weekly_initial_ltv" :error="errors.weekly_initial_ltv" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;初始 LTV&quot;)" />

                <text-input v-model="form.weekly_margin_call" :error="errors.weekly_margin_call" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;追加保证金警戒线&quot;)" />

                <text-input v-model="form.weekly_liquidation_ltv" :error="errors.weekly_liquidation_ltv" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;强制清算 LTV&quot;)" />

                <div class="pr-6 pb-8 w-full">
                    <div class="font-weight-bold text-xl border-b mb-2 pb-4 font-medium">{{ $t("30 天固定利率") }}</div>
                </div>

                <text-input v-model="form.monthly_initial_ltv" :error="errors.monthly_initial_ltv" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;初始 LTV&quot;)" />

                <text-input v-model="form.monthly_margin_call" :error="errors.monthly_margin_call" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;追加保证金警戒线&quot;)" />

                <text-input v-model="form.monthly_liquidation_ltv" :error="errors.monthly_liquidation_ltv" class="pr-6 pb-8 w-full lg:w-1/2" :label="$t(&quot;强制清算 LTV&quot;)" />

            </div>
            <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                <button v-if="isEdit" class="focus:outline-none text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">{{ $t("删除抵押资产") }}</button>
                <loading-button :loading="sending" class="btn-indigo ml-auto" type="submit">{{ actionButtonTitle }}</loading-button>
            </div>
        </form>
    </div>
</app-layout>