<app-layout>
    <admin-reports-tab :referrer="filters.referrer" section="referrals"></admin-reports-tab>
    <h1 class="mt-10 mb-8 font-bold text-3xl">
        <Link class="text-indigo-400 hover:text-indigo-600" :href="route('admin.users.edit', filters.referrer)" v-if="filters.referrer">{{ $t("返回 -") }} </Link> {{ $t("推荐交易记录") }}
    </h1>
    <div class="bg-white rounded shadow overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <tr class="text-left font-bold">
                <th class="px-3 pt-6 pb-4">{{ $t("交易ID") }}</th>
                <th class="px-3 pt-6 pb-4">{{ $t("状态") }}</th>
                <th class="px-3 pt-6 pb-4">{{ $t("金额") }}</th>
                <th class="px-3 pt-6 pb-4">{{ $t("用户") }}</th>
                <th class="px-3 pt-6 pb-4">{{ $t("日期") }}</th>
            </tr>
            <tr v-for="transaction in transactions.data" :key="transaction.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
                <td class="border-t">
                    <span class="px-3 py-2 flex items-center">
                        {{ transaction.transaction_id }}
                    </span>
                </td>
                <td class="border-t">
                    <span class="px-3 py-2 flex items-center">
                        <badge class="mr-2" :type="transaction.is_credited ? 'green' : 'orange'">
                            {{ transaction.is_credited ? $t("已到账") : $t("待处理") }}
                        </badge>
                    </span>
                </td>
                <td class="border-t">
                    <span class="px-3 py-2 flex items-center">
                        {{ transaction.amount }} {{ transaction.currency.symbol }}
                    </span>
                </td>
                <td class="border-t">
                    <span class="px-3 py-2 flex items-center">
                        {{ transaction.user.email }}<br> {{ $t("用户ID:") }} {{ transaction.user.id }}
                    </span>
                </td>
                <td class="border-t">
                    <span class="px-3 py-2 flex items-center">
                        {{ transaction.created_at }}
                    </span>
                </td>
            </tr>
            <tr v-if="transactions.data.length === 0">
                <td class="border-t px-3 py-2" colspan="100">{{ $t("未找到交易记录。") }}</td>
            </tr>
        </table>
    </div>
    <pagination :links="transactions.links" />
</app-layout>