<app-layout>
    <h1 class="mb-8 font-bold text-3xl">{{ $page.props.staking_type == 1 ? $t("量化管理") : $t("质押管理") }}</h1>
    <div class="mb-6 flex justify-between items-center">
        <nav-button-link v-if="$page.props.staking_type == 0" :href="route('admin.stakings.operations')">{{ $t("理财负债与兑付") }}</nav-button-link>
        <nav-button-link :href="route('admin.stakings.create', { staking_type: $page.props.staking_type })">
            <span>{{ $t("添加") }}</span>
            <span class="hidden md:inline">
                {{ $t(" 新的") }}{{ $page.props.staking_type == 1 ? $t("量化") : $t("质押") }}
            </span>
        </nav-button-link>
    </div>
    <div class="bg-white rounded shadow overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <tr class="text-left font-bold">
                <th class="px-6 pt-6 pb-4">{{ $t("币种") }}</th>
                <th class="px-6 pt-6 pb-4">{{ $t("天数") }}</th>
                <th class="px-6 pt-6 pb-4">{{ $t("状态") }}</th>
                <th class="px-6 pt-6 pb-4">{{ $t("操作") }}</th>
            </tr>
            <tr v-for="staking in stakings.data" :key="staking.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
                <td class="border-t">
                    <Link :href="route('admin.stakings.edit', staking.id)" class="px-6 py-4 flex items-center text-indigo-500">
                    
                        <img width="25" :src="$page.props.staking_type == 1 ? staking.currencyd.file.url : staking.currency.file.url" class="mr-3" /> {{ $page.props.staking_type == 1 ? staking.currencyd.name : staking.currency.name }} {{ $page.props.staking_type == 1 ? '- USDT' : '( ' + staking.currency.symbol + ')' }}
                    </Link>
                </td>
                <td class="border-t">
                    <Link :href="route('admin.stakings.edit', staking.id)" class="px-6 py-4 flex items-center">
                        {{ staking.allowed_days }}
                    </Link>
                </td>
                <td class="border-t">
                    <span class="px-6 py-4 flex items-center focus:text-indigo-500">
                        <badge v-if="staking.status == 'active'" class="mr-2" type="green">
                            {{ $t("启用") }}
                        </badge>
                        <badge v-if="staking.status == 'sold'" class="mr-2" type="orange">
                            {{ $t("已售罄") }}
                        </badge>
                        <badge v-if="staking.status == 'hidden'" class="mr-2" type="gray">
                            {{ $t("隐藏") }}
                        </badge>
                    </span>
                </td>
<td class="border-t">
    <span class="px-6 py-4 flex items-center focus:text-indigo-500">
        <nav-button-link
            class="mr-2"
            type="red"
            :href="route('admin.stakings.edit', {
                staking: staking.id,
                staking_type: staking.staking_type
            })"
        >
            <span>{{ $t("编辑") }}</span>
        </nav-button-link>
    </span>
</td>
            </tr>
            <tr v-if="stakings.data.length === 0">
                <td class="border-t px-6 py-2" colspan="100">{{ $t("未找到") }}{{ $page.props.staking_type == 1 ? $t("量化") : $t("质押") }}{{ $t("记录。") }}</td>
            </tr>
        </table>
    </div>
    <pagination :links="stakings.links" />
</app-layout>